/* TODO: Download font locally */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base CSS Resets */
@layer base {
	* {
		box-sizing: border-box;
	}

	html,
	body,
	#root {
		height: 100%;
		font-family: "Nunito", sans-serif;
	}
}

@layer utilities {
	.text-overflow-plus {
		/*noinspection CssOverwrittenProperties*/
		text-overflow: ellipsis;
		/*noinspection CssOverwrittenProperties*/
		text-overflow: "+";
	}
}